streamlit==1.40.2
PyYAML==6.0.2
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
opencv-python==4.10.0.84
ultralytics==8.3.38
groundingdino @ git+https://github.com/IDEA-Research/GroundingDINO.git@main  # Use a stable branch or tag
# Add any other dependencies your project requires